@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: 'Roboto Slab', serif;
}

body{
    background-image: url('https://img.freepik.com/free-vector/sky-background-video-conferencing_23-2148623068.jpg');
    background-size: cover;     
    background-position: center;
    height: 100vh;
   
}